// todo
.todo{
  display: flex;
  flex-flow: column nowrap;
  &__header{
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(34,36,38,.15);
    span{
      font-family: 'Lato';
      font-size: 28px;
      font-weight: 700;
    }
  }
  &__state{
    padding: 15px 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  &__completed{
    margin-bottom: 10px;
  }
  &__main{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
}

// tasks
.tasks{
  width: 250px;
}

// add-form
.add-form{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  &__add-task{
    display: none;
    width: 40px;
    height: 35px;
    border: 1px solid rgba(34,36,38,.15);
    border-radius: 3px;
    background: transparent;
    outline: none;
    i{
      color: #999999;
    }
    &:hover{
      border: 1px solid #b3b3b3;
      i{
        color: #666666;
      }
    }
  }
  &__add-task.active{
    display: block;
  }
}

.data-task{
  display: none;
  flex-flow: column nowrap;
  padding: 15px;
  width: 220px;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: 5px;
  overflow: hidden;

}

.data-task.active{
  display: flex;
}

.title-data-task{
  padding-bottom: 15px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  span{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0 0 5px;
    font-weight: 700;
  }
  &__input{
    width: 100%;
    padding: 8px 12px;
    outline: 0;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: 5px;
    transition: color .1s ease,border-color .1s ease;
    &:focus{
      border-color: #59bce3;
    }
  }
}

.manipulators{
  display: flex;
  justify-content: space-between;
  button{
    width: 50%;
    height: 35px;
    outline: none;
  }
  &:hover{
    button{
      background: #e6e6e6;
    }
  }
  &__create{
    color: #2185D0;
    border: 1px solid #2185D0;
    border-right: none;
  }
  &__cancel{
    color: #DB2828;
    border: 1px solid #DB2828;
  }
}

// task
.task{
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 20px;
  position: relative;
  &__main{
    display: none;
    flex-flow: column nowrap;
  }
  &__window{
    border: 1px solid rgba(34,36,38,.15);
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
  }
  &__main.active{
    display: flex;
  }
  &__state{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    height: 35px;
    border-radius: 0 0 5px 5px;
    outline: none;
    background: transparent;
    display: block;
    width: 100%;
  }
}

.info{
  margin: 15px 0 0 20px;
  &__title{
    font-size: 20px;
    font-weight: 700;
  }
}

.red{
  border: 1px solid #DB2828;
  color: #DB2828;
}

.green{
  border: 1px solid #21BA45;
  color: #21BA45;
}

.buttons{
  margin: 15px 0;
  display: flex;
  justify-content: flex-end;
  &__remove{
    color: #DB2828;
  }
  &__edit{
    color: #4f4a43;
    margin: 0 15px 0 7px;
  }
}

.progressbar{
  width: 30px;
  height: 30px;
  position: absolute !important;
  right: 10px;
  top: 10px;
}

.progressbar-text{
  line-height: 1;
}

// wedit
.wedit{
  padding: 15px;
  display: none;
  flex-flow: column nowrap;
  border: 1px solid rgba(34,36,38,.15);
  background: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  &__close{
    height: 35px;
    color: #2185D0;
    border: 1px solid #2185D0;
    outline: none;
    &:hover{
      background: #e6e6e6;
    }
  }
}

.wedit.active{
  display: flex;
}

.title-wedit{
  margin-bottom: 15px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  span{
    font-weight: 700;
    margin-bottom: 8px;
  }
  &__title{
    width: 100%;
    padding: 8px 12px;
    outline: 0;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: 5px;
    transition: color .1s ease,border-color .1s ease;
    &:focus{
      border-color: #59bce3;
    }
  }
}